<h2><%= t('registrations.edit') %></h2>

<%= simple_form_for resource,
                    as: resource_name,
                    url: registration_path(resource_name),
                    html: {
                      class: 'form-horizontal',
                      method: :put
                    } do |f| %>
  <%= f.error_notification %>

  <%= f.input :first_name, autofocus: true %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :email, required: true %>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="user_avatar"><%= t "registrations.avatar" %></label>
    <div class="col-sm-10">
      <%= image_tag gravatar_url_for(f.object.email),
                    class: "img-thumbnail" %>
      <p class="help-block">
        <%= t 'registrations.change_avatar.html' %>
      </p>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= f.input :password, autocomplete: "off", required: false %>
  <%= f.input :password_confirmation, required: false %>
  <%= f.input :current_password, required: true %>


  <%= submit_button f: f %>

<% end %>



<h3><%= t 'registrations.cancel_my_account' %></h3>

<p>
  <%= t 'registrations.unhappy' %>
  <%= link_to t('registrations.cancel_my_account'),
              registration_path(resource_name),
              data: { confirm: t('common.are_you_sure') },
              class: "btn btn-danger",
              method: :delete %>
</p>
