<%= render layout: 'nodes/templates/section', locals: { section: comment } do %>

  <%= render  partial: 'comments/comment_author',
              layout: 'nodes/templates/author',
              locals: { author: comment.user } %>


  <%= render layout: 'nodes/templates/panel' do %>
    <% if comment.owner? comment.node.author %>
      <div class="label label-primary pull-right">
        <%= t 'comments.owner' %>
      </div>
    <% end %>

    <article>
      <%= markdown comment.user.username + ": " + comment.body %>
    </article>

    <% content_for :bottom, flush: true do %>
      <%= render  partial: 'comments/comment_nav',
                  layout: 'nodes/templates/nav',
                  locals: { entry: comment, comment: comment } %>
    <% end %>
  <% end %>

<% end %>