<%= div_for comment, class: "row fragment" do %>
  <div class="col-md-1 col-sm-1 hidden-xs node-left">
    <%= image_tag gravatar_url_for(comment.author.email), class: "img-circle img-responsive" %>
    <%#= time_tag comment.created_at %>
  </div>

  <div class="col-md-11 col-sm-11">
    <%= bubble_box do %>

      <% if comment.owner? comment.node.author %>
        <div class="label label-primary pull-right">
          <%= t 'comments.owner' %>
        </div>
      <% end %>

      <article>
        <%= markdown comment.author.username + ": " + comment.body %>
      </article>

      <div class="meta text-muted">
        <%= link_to "##{comment.id}", comment_path(comment) %>

        <%= time_tag comment.created_at, title: comment.created_at do %>
          <%= t 'time.ago', time: time_ago_in_words(comment.created_at) %>
        <% end %>

        <% if policy(comment).edit? %>
          <%= link_to t('common.edit'),
                      edit_node_comment_path(comment.node, comment) %>
        <% end %>

        <% if policy(comment).destroy? %>
          <%= link_to t('common.delete'), [comment.node, comment], method: :delete, data: { confirm: t('common.are_you_sure') } %>
        <% end %>
      </div>

    <% end %>
  </div>
<% end %>
