<%= render layout: 'nodes/templates/section', locals: { section: Comment.new } do %>

  <%= render  partial: 'comments/comment_author',
              layout: 'nodes/templates/author',
              locals: { author: current_user } %>


  <%= render layout: 'nodes/templates/panel' do %>

    <%= simple_form_for [@node, (@comment or @node.comments.build(author: current_user))],
                        wrapper: :vertical_form,
                        html: { class: 'form-vertial' } do |f| %>

      <%= f.error_notification %>
      <%= f.input :body %>
      <span class="help-block"><%= t 'simple_form.hints.node.body' %></span>
      <%= f.button :submit %>
    <% end %>

  <% end %>

<% end %>