<%= div_for node, class: "row" do %>
  <div class="col-md-1 node-left">
    <%= time_tag node.created_at %>

  </div>

  <div class="col-md-11 node-body">
    <article>
      <h1><%= node.title %> </h1>
      <p class="lead"><%= node.tldr %></p>
      <div class="img-scroller">
        <%= render node.images %>
      </div>
      <%= markdown node.body %>
      <%= render node.tags %>
    </article>
  </div>
<% end %>