<div class="row fragment">
  <div class="col-md-1 col-sm-1 hidden-xs node-left">
    <%= image_tag gravatar_url_for(node.author.email), class: "img-circle img-responsive" %>
  </div>

  <div class="col-md-11 col-sm-11 col-xs-12">
    <%= bubble_box do %>
      <article>
        <h1><%= node.title %></h1>
        <p class="lead">
          <%= node.author.username %>: 
          <%= node.tldr %></p>
        <div class="img-scroller">
          <%= render node.images %>
        </div>
        <%= markdown node.body %>
      </article>
      <div class="meta text-muted">
        <%= time_tag node.created_at %>
        <%= render node.tags %>
      </div>
    <% end %>
    
  </div>
</div>
