<div class="row">
  <div class="col-md-1 col-sm-1 node-left">
    <%= image_tag gravatar_url_for(node.author.email), class: "img-circle img-responsive" %>
    <%= node.author.username %><br>
    <%= time_tag node.created_at %>
  </div>

  <div class="col-md-11 col-sm-11">
    <%= bubble_box do %>
      <article>
        <h1><%= node.title %></h1>
        <p class="lead"><%= node.tldr %></p>
        <div class="img-scroller">
          <%= render node.images %>
        </div>
        <%= markdown node.body %>
        <%= render node.tags %>
      </article>
    <% end %>
    
  </div>
</div>
