<%= div_for node, class: "row" do %>
  <div class="col-md-1 node-left">
    <%= time_tag node.created_at do %>
      <% if node.created_at.today? %>
        <%= l node.created_at, format: :time %><br />
        <%= t 'time.today' %>
      <% else %>
        <%= l node.created_at, format: :summary %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-11 node-right">
    <h2 class="node-title"><%= link_to node.title, node %></h2>
    <p><%= node.tldr %></p>
  </div>
<% end %>