<% title node.content.title %>

<%= render layout: 'nodes/templates/section', locals: { section: node } do %>

  <%= render  partial: 'nodes/node_author',
              layout: 'nodes/templates/author',
              locals: { author: node.author } %>

  <%= render layout: 'nodes/templates/panel' do %>
    <article>
      <p><%= node.author.username %>:</p>
      <%= render "#{node.content_type.tableize}/content", content: node.content %>
    </article>
    <% content_for :bottom do %>
      <%= render  partial: 'nodes/node_nav',
                  layout: 'nodes/templates/nav',
                  locals: { entry: node, node: node } %>
    <% end %>
  <% end %>

<% end %>