<%= title t('.add_new_node') %>

<%= content_tag_for :section, Node.new, class: "row" do %>

  <%= render  partial: 'nodes/node_author',
              layout: 'nodes/templates/author',
              locals: { author: Struct.new(:email).new("admin@example.org") } %>

  <%= render layout: 'nodes/templates/panel' do %>
    <p>superadmin:</p>
    <p class="lead"><%= t 'content_types.new_node.desc' %></p>
      
    <table class="table">
      <% (Array(Content) + Content.descendants).map(&:to_s).map(&:underscore).each_with_index do |content_type, i| %>
        <%= content_tag :tr, id: content_type do %>
          <th>
            <%= t "content_types.#{content_type}.name" %>
            <% if rand(0..10) % 5 == 1 %>
              <span class="label label-danger">new</span>
            <% end %>
          </th>
          <td><%= Faker::Lorem.sentence(8) %></td>
          <td class="text-right">
            <%= link_to new_new_node_path(controller: :contents),
                  class: "btn btn-sm btn-primary",
                  id: content_type do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only"><%= t "content_types.#{content_type}.name" %></span>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </table>

  <% end %>

<% end %>