<%= title t('.add_new_node') %>
<%= provide :page_type, t('content_types.page.name') %>

<%= content_tag_for :section, Node.new, class: "row" do %>

  <%= render  partial: 'nodes/node_author',
              layout: 'nodes/templates/author',
              locals: { author: TEAM } %>

  <%= render layout: 'nodes/templates/panel' do %>
    <p><%= TEAM.username %>:</p>
    <p class="lead"><%= t 'content_types.new_node.desc' %></p>
      
    <table class="table">
      <% %w(content product).each_with_index do |content_type, i| %>
        <%= content_tag :tr, id: content_type do %>
          <th>
            <%= t "content_types.#{content_type}.name" %>
            <% if content_type.camelize.constantize.count < 300 %>
              <span class="label label-danger">
                <%= t('common.new').downcase %>
              </span>
            <% end %>
          </th>
          <td><p><%= t "content_types.#{content_type}.desc" %></p></td>
          <td class="text-right">
            <%= link_to new_new_node_path(controller: content_type.tableize),
                  class: "btn btn-sm btn-primary",
                  id: content_type do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only"><%= t "content_types.#{content_type}.name" %></span>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </table>

  <% end %>

<% end %>