<%= title @node.title %>

<div class="page">
  <%= render partial: "expanded_node", locals: { node: @node } %>
  <%= render @node.comments %>
  <% if policy(Comment).create? %>
    <%= render 'comments/form' %>
  <% else %>
    <%= render 'comments/user_not_signed_in' %>
  <% end %>
</div>