<%= title t('users.users') %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%=t 'users.username' %></th>
        <th><%=t 'users.name' %></th>
        <th><%=t 'users.email' %></th>
        <th><%=t 'users.index.created_at' %></th>
        <th><%=t 'users.index.role' %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= time_ago_in_words user.created_at %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'edit', edit_administration_user_path(user) %></td>
      <% end %>
    </tbody>
  </table>
</div>