<div class="row fragment comment">
  <div class="col-md-1 col-sm-1 hidden-xs node-left">
    <%= image_tag user_image, class: "img-circle img-responsive" %>
  </div>

  <div class="col-md-11 col-sm-11">
    <div class="panel panel-default">
      <div class="arrow hidden-print hidden-xs"></div>

      <div class="panel-body">
        <article>
          <b><%= username %>:</b>
          <%= yield %>
        </article>
      </div>

      <div class="panel-footer text-muted text-right">
        <%= time_tag (time = Faker::Time.between(5.days.ago, Time.now)), title: time do %>
          <%= t 'time.ago', time: time_ago_in_words(time) %>
        <% end %>
      </div>

    </div>
    
  </div>
</div>
