<div class="row">

  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default panel-login">
      <div class="panel-body">
        <h2><%= t 'sessions.login' %></h2>
        <%= form_for  resource,
                      as: resource_name,
                      url: session_path(resource_name),
                      html: { class: ""} do |f| %>


          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <div class="pull-right">
                <%= link_to t('sessions.forgot_password'), new_password_path(resource_name) %>
              </div>
            <% end %>

            <%= f.password_field :password, class: "form-control" %>
          </div>

          <div class="form-group clearfix">
            <div class="checkbox pull-left">
              <label>
                <%= f.check_box :remember_me %>
                Remember me
              </label>
            </div>

            <div class="pull-right">
              <%= f.submit nil, class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>

  </div>


</div>
