<%= provide :page_type, t('content_types.product.name') %>

<%= render 'categories/menu',
      categories: content.category.menu,
      product: content,
      product_siblings: content.siblings %>

<%= markdown content.body %>

<%= content_for :right_column do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t 'common.similarly' %>
    </div>
    <ul class="list-group">
      <li class="list-group-item">TODO</li>
    </ul>
  </div>
<% end %>