<%= title @image.title %>

<div class="page-header">
  <h2>Image</h2>
</div>

<%= render @image %>

<%= render @image.tags %>

<div class="page-header">
  <h2><%= t 'images.used_nodes' %></h2>
</div>

<%= box do %>
  <%= render @image.nodes %>
<% end %>