<% title @image.title %>

<%= page_title t('images.image') %>

<%= render @image %>

<%= render @image.tags %>

<div class="page-header">
  <h2><%= t 'images.used_nodes' %></h2>
</div>

<%= list_nodes @image.nodes %>