<%= render 'head' %>
<%= render 'nav' %>

<div class="container body">
  <div class="row">
    <div class="col-sm-8">
      <%= render 'messages' %>
      <%= yield %>
    </div>
    <div class="col-sm-4">
      <%= render 'new_node_button.html.erb' %>  
    </div>
    
  </div>
</div> <!-- /container -->

<%= render 'foot' %>
