<%= render 'head' %>
<%= render 'nav' %>

<div class="container body">
  <div class="row">
    <div class="col-sm-8">
      <%= render 'messages' %>
      <%= yield %>
    </div>
  </div>
</div> <!-- /container -->

<%= render 'foot' %>
