<%= render 'head' %>
<%= render 'nav' %>

<div class="container body">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'navigation' %>
    </div>
    <div class="col-sm-9">
      <%= yield %>
    </div>
  </div>
</div> <!-- /container -->

<%= render 'foot' %>
