<%= render 'head' %>
<%= render 'nav' %>

<div class="container" ng-app="hs" ng-controller="<%= yield :angular_controller %>">
  <form name="contentForm" ng-init="formScope = this">
    <div class="row">
      <%= render 'messages' %>

      <%= yield :header %>

      <main class="<%= content_for?(:right_column) ? 'col-md-9' : 'col-md-12' %>">
        <%= yield %>
      </main>

      <% if content_for? :right_column %>
        <aside class="col-md-3">
          <%= yield :right_column %>
        </aside>
      <% end %>
    </div>
  </form>
</div> <!-- /container -->

<%= render 'google_analytics' if Rails.env.production? %>
<%= render 'foot' %>
