<%= render 'head' %>
<%= render 'nav' %>

<div class="container">
  <div class="row">
    <%= render 'messages' %>

    <% if content_for? :title %>
      <header class="col-md-12">
        <div class="page-header">
          <h1 class="h2">
            <%= yield :title %>
            <% if content_for? :page_type %>
              <small class="pull-right"><%= yield :page_type %></small>
            <% end %>
          </h1>
        </div>
      </header>
    <% end %>

    <main class="<%= content_for?(:right_column) ? 'col-md-9' : 'col-md-12' %>">
      <%= yield %>
    </main>

    <% if content_for? :right_column %>
      <aside class="col-md-3">
        <%= yield :right_column %>
      </aside>
    <% end %>
  </div>
</div> <!-- /container -->

<%= render 'google_analytics' if Rails.env.production? %>
<%= render 'foot' %>
